<div class="toptop">
<label for="menu" class="menu">Menu</label>
<input type="checkbox" id="menu" role="button">
<ul class="show-menu">
  <li class="menu06"><a href="https://github.com/hginit/hginit.github.io">Source</a></li>
  <li class="menu05">
    <a href="https://zh-hginit.readthedocs.org" hreflang="zh">中文版</a>
  </li>
  <li class="menu04">
    <a
      href="https://mmitou.hatenadiary.org/entry/20100501/1272680474"
      hreflang="ja"
      >日本語</a
    >
  </li>
  <li class="menu03"><a href="https://www.joelonsoftware.com/">Joel on Software</a></li>
  <li class="menu02"><a href="https://www.mercurial-scm.org">Mercurial</a></li>
  <li class="menu01"><a href="index.html">Home</a></li>
</ul>
</div>
