<div class="toptop">
  <label for="btn-menu">Menu</label>
  <input type="checkbox" id="btn-menu" role="button">
  <ul class=toptop-menu>
    <li><a href="https://github.com/hginit/hginit.github.io">Source</a></li>
    <li>
      <a href="https://zh-hginit.readthedocs.org" hreflang="zh">中文版</a>
    </li>
    <li>
      <a
        href="https://mmitou.hatenadiary.org/entry/20100501/1272680474"
        hreflang="ja"
      >日本語</a
      >
    </li>
    <li><a href="https://www.joelonsoftware.com/">Joel on Software</a></li>
    <li><a href="https://www.mercurial-scm.org">Mercurial</a></li>
    <li><a href="index.html">Home</a></li>
  </ul>
</div>
