@charset "UTF-8";
/*  We use https://systemfontstack.com/ for all 3 cases */
html > body {
  overflow-x: auto;
  overflow-y: scroll;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
}
body {
  margin: 0;
  padding: 0;
  /* TODO: Switch to css instead */
  background-image: url(/i/background.png);
  background-repeat: repeat-y;
  background-color: #f7faec;
}
a {
  color: #0f5491;
}
h1 {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  color: #b58145;
  font-size: 39px;
  font-weight: 700;
  padding: 7px 0;
}
h2 {
  padding-top: 1em;
  color: #b58145;
}
body img {
  max-width: 700px;
}
header {
  width: 100%;
  height: 180px;
  position: relative;
  top: -10px;
}
header div.t {
  padding-left: 310px;
  padding-top: 30px;
  width: 600px;
  font-size: 18px;
  line-height: 25px;
  color: #000;
}
header div.tInterior {
  padding-left: 310px;
  padding-top: 70px;
  width: 600px;
  font-size: 18px;
  line-height: 25px;
  color: #000;
}
div.tInterior a img {
  position: absolute;
  top: 0;
  left: 69px;
}
header div.t div.h {
  font-size: 45px;
  font-weight: 700;
  line-height: 65px;
}
.mainnav {
  width: 920px;
  height: auto;
  margin-top: 60px;
}
.mainnav a {
  display: block;
  float: left;
  height: 176px;
  width: 151px;
  padding: 0;
  text-decoration: none;
}
.mainnav .button a.zero {
  background: transparent url(/i/homenav-1-1.png) no-repeat bottom left;
}
.mainnav .button a.one {
  background: transparent url(/i/homenav-2-1.png) no-repeat bottom left;
}
.mainnav .button a.two {
  background: transparent url(/i/homenav-3-1.png) no-repeat bottom left;
}
.mainnav .button a.three {
  background: transparent url(/i/homenav-4-1.png) no-repeat bottom left;
}
.mainnav .button a.four {
  background: transparent url(/i/homenav-5-1.png) no-repeat bottom left;
}

.mainnav .button a.five {
  background: transparent url(/i/homenav-6-1.png) no-repeat bottom left;
}
.mainnav .button a:hover {
  background-position: top left;
}
.toptop {
  background-color: #333;
  height: 50px;
  width: 100%;
  margin: 0;
  position: relative;
  z-index: 100;
  filter: drop-shadow(0 2px 5px grey);
}
.toptop ul {
  background-color: #333;
  height: 25px;
  margin: 0;
}
.toptop ul li,
.toptop label {
  text-indent: 0;
  background-color: #333;
  float: right;
  color: #fff;
  font-size: 12px;
  width: 100px;
  list-style: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  text-align: center;
  vertical-align: middle;
}
.toptop a,
.toptop a:link,
.toptop a:visited,
.toptop label {
  text-decoration: none;
  color: #fff;
}
.toptop ul li a:hover,
.toptop label:hover {
  color: #999;
}
.toptop label {
  display: none;
}
input[type="checkbox"] {
  display: none;
}
main {
  width: 900px;
  margin-left: 70px;
  height: auto;
}
.tip {
  float: left;
  margin: auto 0 0 -250px;
  position: relative;
  z-index: 2;
  width: 250px;
  position: relative;
  background: url(/i/cheattop.png) top left no-repeat,
    url(/i/cheatbot.png) bottom left no-repeat;
}
.tip:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 58px;
  right: 0;
  bottom: 41px;
  left: 0;
  background: url(/i/cheatmiddle.png) top left repeat-y;
}
.tip dfn {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  font-style: normal;
  position: static;
  font-size: 20px;
  font-weight: 700;
  padding-left: 40px;
  padding-top: 20px;
  display: inline-block;
  color: #b58145;
}
.tip h4 {
  display: inline;
}
.tip p {
  font-size: 18px;
  line-height: 20px;
  margin-top: 10px;
  min-height: 50px;
  padding: 0 45px 25px 15px;
}
div.content {
  font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
    Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  font-size: 20px;
  width: 642px;
  float: left;
  margin-left: 240px;
}
pre {
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
  margin: 0;
  padding: 10px 9px 25px 10px;
  font-size: 14px;
  position: relative;
  z-index: 2;
  background: url(/i/code-anonymous-top.png) top left no-repeat,
    url(/i/code-anonymous-bottom.png) bottom left no-repeat;
}
pre:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 41px;
  right: 0;
  bottom: 37px;
  left: 0;
  background: url(/i/code-anonymous-middle.png) top left repeat-y;
}
pre .prompt {
  color: #696969;
}
pre.joel {
  background: url(/i/code-joel-top.png) top left no-repeat,
    url(/i/code-joel-bottom.png) bottom left no-repeat;
}
pre.joel:before {
  top: 40px;
  background: url(/i/code-joel-middle.png) top left repeat-y;
}
pre.rose {
  background: url(/i/code-rose-top.png) top left no-repeat,
    url(/i/code-rose-bottom.png) bottom left no-repeat;
}
pre.rose:before {
  top: 40px;
  background: url(/i/code-rose-middle.png) top left repeat-y;
}

/* Styles for diffs */
.diff {
  width: 500px;
  border: solid 1px #000;
}
.diff h3 {
  font-size: 14px;
  margin: 0;
  height: 21px;
  background-color: #666;
  border: solid 1px #000;
  color: #fff;
  font-weight: 700;
  padding-left: 15px;
}

.diff p {
  padding: 5px 10px;
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
  font-size: 14px;
}

.diff ins {
  text-decoration: none; /* default underlines */
  background-color: #ff0;
}

/*
  See https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ins#accessibility_concerns
  and https://developer.mozilla.org/en-US/docs/Web/HTML/Element/del#accessibility_concerns
  The presence of the <ins>/<del> element is not announced by most screen reading technology
  in its default configuration. It can be made to be announced by using the CSS
  content property, along with the ::before and ::after pseudo-elements.
*/
ins::before,
ins::after,
del::before,
del::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

ins::before {
  content: " [insertion start] ";
}

ins::after {
  content: " [insertion end] ";
}

del::before {
  content: " [deletion start] ";
}

del::after {
  content: " [deletion end] ";
}

footer {
  margin-top: 30px;
  width: 630px;
  height: 65px;
  border-top: solid 1px #ccc;
  padding-top: 10px;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
}
div.footernav {
  float: left;
  height: 45px;
  padding: 10px 10px;
  vertical-align: middle;
  line-height: 45px;
}
#home,
#next {
  background-color: #666;
  font-size: 30px;
  font-weight: 800;
  border-radius: 4px;
}
#next {
  float: right;
}
#home:hover,
#next:hover {
  background-color: #9b9b9b;
}
footer a {
  text-decoration: none;
  color: #fff;
}
#comingup,
#comingup a {
  padding: 0 10px;
  font-size: 17px;
  line-height: 18px;
  color: #b58145 !important;
  width: 350px;
  text-align: center;
  font-weight: 700;
}
#comingup a {
  text-decoration: underline;
}
div.about {
  float: left;
  width: 350px;
  margin-left: 30px;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  font-size: 15px;
  line-height: 21px;
}

/* Responsive Styles */
@media screen and (max-width: 700px) {
  /* Top-Menu */
  .toptop {
    & label[for="btn-menu"] {
      display: block;
      padding: 16px 0;
    }
  }

  .toptop ul li,
  .toptop ul li a,
  .toptop label {
    width: 100%;
    padding: 4px 0;
    display: inline-block;
  }

  .toptop label {
    display: block;
  }
  .toptop ul {
    display: none;
    margin: 0;
    padding: 0;
    height: auto;
  }
  input[type="checkbox"]:checked ~ .toptop-menu {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  /* main */
  main {
    display: grid;
    gap: 16px;
    padding: 0 16px;
    margin: 0;
    width: calc(100% - 32px);
  }
  /* header */
  header {
    top: 0;
    height: auto;
  }
  header div.tInterior {
    padding-left: 0;
    padding-top: 0;
    width: calc(100% - 32px);
    display: flex;
    gap: 16px;
  }
  div.tInterior a img {
    position: relative;
    left: 0;
  }
  /* Navigation */
  .mainnav {
    min-width: max-content;
    width: calc(100% - 32px);
    margin: 60px auto 60px auto;
    display: grid;
    grid: repeat(6, 1fr) / 1fr;
    justify-items: center;
  }
  .mainnav .button {
    display: contents;
  }
  .mainnav a {
    height: 205px;
    width: 122px;
  }
  .mainnav .button a.zero {
    background-image: url(/i/homenav-1-2.png);
  }
  .mainnav .button a.one {
    background-image: url(/i/homenav-2-2.png);
  }
  .mainnav .button a.two {
    background-image: url(/i/homenav-3-2.png);
  }
  .mainnav .button a.three {
    background-image: url(/i/homenav-4-2.png);
  }
  .mainnav .button a.four {
    background-image: url(/i/homenav-5-2.png);
  }
  .mainnav .button a.five {
    height: 176px;
    width: 122px;
    background-image: url(/i/homenav-6-1.png);
  }
  /* article */
  article .content {
    margin: 0;
    float: none;
    width: 100%;

    & pre {
      white-space: pre-wrap;
      word-wrap: break-word;
      text-align: justify;
      max-width: 100%;
      overflow-x: auto;
      padding: 10px 0px 25px 10px;
    }
  }

  article img {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
  }
  .diff {
    width: 100%;
  }
  /* footer */
  footer {
    width: 100%;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  footer p {
    margin: 0;
  }

  div.footernav {
    height: auto;
  }
  #home,
  #next {
    font-size: 16px;
    line-height: 24px;
    flex: 0 0 auto; /* Prevent shrinking */
  }

  #comingup,
  #comingup a {
    width: 100%;
    padding: 0 10px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    flex: 1; /* Allow flexibility */
  }
}
