<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>HgInit: {{page.title}}</title>
    <meta name="description" content="{{page.description}}"></meta>
    <link href="public/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
<div class="toptop" align="left">
  <ul>
      <li align="center"><a href="https://github.com/hginit/hginit.github.io">Source</a></li>
      <li align="center"><a href="https://www.joelonsoftware.com/">Joel on Software</a></li>
      <li align="center"><a href="https://www.mercurial-scm.org">Mercurial</a></li>
      <li align="center"><a href="index.html">Home</a></li>
  </ul>
</div>
<div id="dropshadow"></div>
    <div class="main">
<!-- content starts -->
{{content}}
<!-- content ends -->
    </div>
    <script src="public/jquery-1.4.1.js"></script>
    <script src="public/basic.js"></script>
  </body>
</html>